
/* Display results */

#displayUl{
  display: none;
  width: 200px;
  height: 90px;
  padding: 0;
}


#displayLi{
  cursor: pointer;
  &:hover #displayUl{
    display: block;
  }
}

/* Sort results */

#sortUl{
  display: none;
  width: 150px;
  height: 90px;
  padding: 0;
}


#sortLi{
  cursor: pointer;
  &:hover #sortUl{
    display: block;
  }
}

/* Limit results */

#limitUl{
  display: none;
  width: 100px;
  height: 120px;
  padding: 0;
}


#limitLi{
  margin-bottom: 20px;
  cursor: pointer;
  &:hover #limitUl{
    display: block;
  }
}


/* Radio Button Design */

.radio{
  display: block;
  cursor: pointer; 
  user-select: none;
  height: 30px;
  text-align: left;
  // padding: 0;
  padding-top: 5px;
  margin: 0;

  &:hover{
    background: lighten(#007BFF, 15%);
    transition: all 1s;
  }

  input{
    display: none;
    &+span{
      display: inline-block; 
      position: relative;
      padding-left: 20px;
      &:before{
        content: '';
        display: block; 
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
        margin-right: 5px;
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        background: #fff;
      }
      &:after{
        content: '';
        display: block; 
        width: 10px;
        height: 10px;
        background: #007BFF;
        position: absolute;
        border-radius: 50%;
        top: 3px;
        left: 3px;
        opacity: 0;
        transform: scale(0,0); 
        transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }
    &:checked+span:after{
      opacity: 1;
      transform: scale(1,1);
    }
  }
}

