
@import "styles.scss";

body{
    background: url('../img/routes/lostcat.jpeg') no-repeat center;
    @include background();
}

div{
    width: 250px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 10%;
}

h2{
    font-size: 32px;
    color: #000;
}
