@import "styles.scss";


$navbarLiWidth: 140px;

.nav{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
  background: $navBackground;
  height: 50px;
  width: 100%;
  @include shadowBottom(0, 8px, 6px, -6px, #000);
}

.navbarUl{
    float: right;
    height: 30px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
}

#formWrapper{
  padding-top: 10px;
  float: left;
  width: 35%;
}

.nav .navbarUl {
   list-style: none;
}

.nav .navbarUl .navbarLi, #formWrapper {
   display: inline-block;
}



.navbarLi{
    text-align: center;
    color: #FFF;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    border-right: 2px solid $btnBackground;
    height: 30px;
    padding-top: 5px;

    &:hover{
        color: #DDD;
    }

    &:last-child{
      border-right: none;
    }
}

.innerUl{
    border: 1px solid #444;
    border-bottom: none;
    position: absolute;
    background: #222;
    margin: 0;
    padding: 0;  
    width: 120px; 
    text-align: center;
    @include shadowBottom(0, 8px, 4px, -4px, #000);
    display: none;
    cursor: pointer;
}


/* >>> Filter Search <<< */ 

.grid{
  margin-top: 20px;
}


/* Align results */

#alignUl{
  width: $navbarLiWidth;
  padding: 0;
}


#alignLi{
  width: $navbarLiWidth;
}


/* Display results */

#displayUl{
  width: $navbarLiWidth;
  padding: 0;
}


#displayLi{
  width: $navbarLiWidth;
}


  /* Sort results */
  
  #sortUl{
    width: $navbarLiWidth;
    padding: 0;
  }
  
  
  #sortLi{
    width: $navbarLiWidth;
  }

  
  /* Limit results */
  
  #limitUl{
    padding: 0;
    width: $navbarLiWidth;
  }
  
  
  #limitLi{
    width: $navbarLiWidth;
    cursor: pointer;
  }


  /* Limit results */
  
  #themeUl{
    padding: 0;
    width: $navbarLiWidth;
  }
  
  
  #themeLi{
    width: $navbarLiWidth;
    cursor: pointer;
  }
  
  
  /* Radio Button Design */
  
  .radio{
    display: block;
    cursor: pointer; 
    user-select: none;
    height: 30px;
    text-align: left;
    padding-top: 5px;
    margin: 0;
  
    &:hover{
      background: $btnBackground;
      transition: all 1s;
    }
  
    input[type="radio"]{
      display: none;
      &+span{
        display: inline-block; 
        position: relative;
        padding-left: 20px;
        &:before{
          content: '';
          display: block; 
          position: absolute;
          top: 0px;
          left: 0px;
          border-radius: 50%;
          margin-right: 5px;
          width: 16px;
          height: 16px;
          border: 1px solid #ccc;
          background: #fff;
        }
        &:after{
          content: '';
          display: block; 
          width: 10px;
          height: 10px;
          background: $btnBackground;
          position: absolute;
          border-radius: 50%;
          top: 3px;
          left: 3px;
          opacity: 0;
          transform: scale(0,0); 
          transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
        }
      }
      &:checked+span:after{
        opacity: 1;
        transform: scale(1,1);
      }
    }
  }
