@import "styles.scss";


$navbarLiWidth: 140px;


.navbarUl{
    width: 100%;
    // position: absolute;
    // bottom: 0%;
    margin: 0 auto;
}

.nav .navbarUl {
   list-style: none;
}

.nav .navbarUl .navbarLi {
   display: inline-block;
}



.navbarLi{
    text-align: center;
    color: #FFF;
    cursor: pointer;
    position: relative;
    font-weight: 600;

    &:hover{
        color: #DDD;
    }
}

.innerUl{
    border: 1px solid #444;
    border-bottom: none;
    position: absolute;
    background: #222;
    margin: 0;
    padding: 0;  
    width: 120px; 
    text-align: center;
    @include shadowBottom(0, 8px, 4px, -4px, #000);
}


/* Filter Search */ 



/* Display results */

#displayUl{
    display: none;
    width: $navbarLiWidth;
    height: 80px;
    padding: 0;
  //   -o-transition:.2s;
  // -ms-transition:.2s;
  // -moz-transition:.2s;
  // -webkit-transition:.2s;
  // transition:.2s;
  }
  
  /*
  #displayLi:not(:hover){

  }
  */

  
  #displayLi{
    width: $navbarLiWidth;
    // border-left: 2px solid $btnBackground;
    border-right: 2px solid $btnBackground;
    cursor: pointer;
    &:hover #displayUl{
      display: block;
      // -webkit-transition: opacity 3s ease-in;
      // -moz-transition: opacity 3s ease-in;
      // -ms-transition: opacity 3s ease-in;
      // -o-transition: opacity 3s ease-in;
    }
  }

  
  /* Sort results */
  
  #sortUl{
    display: none;
    width: $navbarLiWidth;
    height: 55px;
    padding: 0;
  }
  
  
  #sortLi{
    width: $navbarLiWidth;
    border-right: 2px solid $btnBackground;
    cursor: pointer;
    &:hover #sortUl{
      display: block;
    }
  }
  
  /* Limit results */
  
  #limitUl{
    display: none;
    padding: 0;
    width: $navbarLiWidth;
  }
  
  
  #limitLi{
    width: $navbarLiWidth;
    // border-right: 2px solid $btnBackground;
    cursor: pointer;
    &:hover #limitUl{
      display: block;
    }
  }
  
  
  /* Radio Button Design */
  
  .radio{
    display: block;
    cursor: pointer; 
    user-select: none;
    height: 30px;
    text-align: left;
    // padding: 0;
    padding-top: 5px;
    margin: 0;
  
    &:hover{
      background: $btnBackground;
      transition: all 1s;
    }
  
    input[type="radio"]{
      display: none;
      &+span{
        display: inline-block; 
        position: relative;
        padding-left: 20px;
        &:before{
          content: '';
          display: block; 
          position: absolute;
          top: 0px;
          left: 0px;
          border-radius: 50%;
          margin-right: 5px;
          width: 16px;
          height: 16px;
          border: 1px solid #ccc;
          background: #fff;
        }
        &:after{
          content: '';
          display: block; 
          width: 10px;
          height: 10px;
          background: $btnBackground;
          position: absolute;
          border-radius: 50%;
          top: 3px;
          left: 3px;
          opacity: 0;
          transform: scale(0,0); 
          transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
        }
      }
      &:checked+span:after{
        opacity: 1;
        transform: scale(1,1);
      }
    }
  }
