
/* Variables */

$bodyBackground: #232A32;
$navBackground: #222;
$infoBackground: #333;
$btnBackground: #007BFF;
$todoBackground: #F6F7F9;
$btnText: #6b6e73;
$btnSwitch: #DDD;


/* Mixins */

@mixin shadowBottom($top, $down, $left, $right, $color){
    -webkit-box-shadow: $top $down $left $right $color;  
    -moz-box-shadow:    $top $down $left $right $color;  
    box-shadow:         $top $down $left $right $color;  
   }


@mixin flex() {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}


   body{
       background: lighten($bodyBackground, 8%);
   }

   textarea:focus, input:focus{
    outline: none !important;
    }

    textarea:active, input:active{
        outline: none !important;
    }
    

   .container-fluid, .jumbotron{
       background: transparent;
   }

.nav{
    background: $navBackground;
    height: 100px;
    width: 100%;
    position: relative;
    @include flex();
}

h1{
    color: #FFF;
}

#sourceCodeAnchor{
    position: absolute;
    right: 3%;
    bottom: 5%;
    color: lighten($btnBackground, 5%);
}


/* Form */ 

.insertTodoForm{
    width: 85%;
    background: $navBackground;
    color: #FFF;
    border: 1.5px solid $btnBackground;
    padding-left: 10px;
}

.insertTodoForm::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lighten($btnBackground, 5%);
}

.insertTodoForm:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lighten($btnBackground, 5%);
}

.insertTodoForm::-ms-input-placeholder { /* Microsoft Edge */
    color: lighten($btnBackground, 5%);
}

.insertTodoBtn{
    border-radius: none;
    border: none;
    width: 15%;
    background: $btnBackground;
    color: #FFF;
    &:hover{
        background: darken($btnBackground, 5%);
        color: #FFF;
    }
}

.insertTodoForm, .insertTodoBtn{
    float: left;
    height: 40px;
}



/* Info header */

#info{
    height: 75px;
    background: $navBackground;
    display: none;
}

.infoHeading{
    color: #FFF;
    padding-top: 5px;
}

.leftLi{
    float: left;
    padding-left: 30px;
}

.rightLi{
    float: right;
    padding-right: 30px;
    cursor: pointer;

    &:hover{
        color: $btnSwitch;
    }
}



/* Todos */

.todoContainer{
    height: 105px;
    border-bottom: 1px solid #CCC;
    background: $todoBackground;;
}

.todoContainer:last-child{
    @include shadowBottom(0, 8px, 6px, -6px, #000);
}

.todoBtnCol{
    height: 105px;
    @include flex();
}

.todoBtn{
    height: 40px;
    width: 40px;
    background: $btnBackground;
    border-radius: 100%;
    cursor: pointer;
    color: #FFF;
    &:hover{
        background: darken($btnBackground, 5%);
        color: #FFF;
    }
    &:active{
        color: #FFF;
        outline: 0 !important;
    }
    &:focus{
        color: #FFF;
        outline: 0 !important;
    }
}

#removeTodoBtn{
    background: $navBackground;
    &:hover{
        background: darken($navBackground, 5%);
        color: #FFF;
    }
}

  /* Toggle button */

  .outer{
    height: 35px;
    width: 75px;
    border-radius: 40px;
    border: 2px solid #111;
    position: relative;
    cursor: pointer;
    background: #232A32;
}


.switch{
    height: 31px;
    width: 31px;
    background: $btnSwitch;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    transition: transform .2s linear;
}

.move{
    transform: translateX(40px);
    background: $btnBackground;
}


/* Modal */

.modal {
    display: none; 
    width: 100%; 
    height: 100%;
    // overflow: auto; /* Enable scroll if needed */
    background-color: rgba(51, 51, 51, 0.9); /* Fallback color */
    overflow: hidden;
    width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  }
  
  /* Modal Content */
  .modal-content {
  //  width: 45%;
   // height: 65%;
    padding: none;
    margin: none;
    background: $todoBackground;
    border: transparent;
  }
  
  .closeModal{
    color: #333;
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 32px;
    cursor: pointer;
    padding: none;
  
    &:hover{
      color: lighten(#333, 30%);
    }
  }



//   .modalTItle{
//       text-align: center;
//       display: block;
//       margin: 0 auto;
//       width: 100%;
//       background: pink;
//   }

  .modal-header{
      border-bottom: 2px solid #CCC;
  }

  .modal-header, .modal-footer{
      height: 60px;
  }

  .modal-body{
    padding: 0;
}

.modalPause{
  border-bottom: 2px solid #CCC;
  position: relative;
  padding: 20px 0;
}

.pauseDesc{
        padding-left: 20px;
        margin: 0;
        position: absolute;
        top: 0%;
        left: 0%;
        background: #CCC;
        width: 80px;
}

.modalPause:last-child{
    border-bottom: none;
  }

  .modal-footer{
      border-top: 2px solid #CCC;
  }

  .modalBtns{
    background: #e3e7ea;
    border-radius: none;
    height: 30px;
    width: 75px;
    color: $btnText;
    border: none;
    &:hover{
        background: darken(#e3e7ea, 10%);
        color: $btnText;
    }
  }

//   #updateBtn{

//   }

  #cancelBtn{
    margin-right: 10px;
  }

  .modalDetails{
      text-align: center;
  }

//   #textarea{
//     background: lighten($bodyBackground, 8%);
//     color: #FFF;  
//   }
  
/* Modal Animation */
.modal-content, .modalCaption {    
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.6s;
    animation-name: fadeIn;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  .pause{
      height: 2px;
      width: 100%;
      background: #310594;
  }

