
/* Variables */

$bodyBackground: #232A32;
$navBackground: #222;
$infoBackground: #333;
$btnBackground: #007BFF;
$todoBackground: #F6F7F9;
$btnText: #6B6E73;
$btnSwitch: #DDD;


/* Mixins */

@mixin shadowBottom($top, $down, $left, $right, $color){
    -webkit-box-shadow: $top $down $left $right $color;  
    -moz-box-shadow:    $top $down $left $right $color;  
    box-shadow:         $top $down $left $right $color;  
   }


@mixin flex() {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

@mixin background() {
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


@font-face {
    font-family: headerFont;
    src: url(../fonts/headerfont.otf);
}

textarea:focus, input:focus, button:focus{
    outline: none !important;
}
   
textarea:active, input:active{
     outline: none !important;
 }
    

%error-css{
    color: red;
    font-weight: 300;
} 

.error{
    margin-top: 2px;
    @extend %error-css;
}
